Package: eda-challenge
Version: 1.0.1
Section: devel
Priority: extra
Architecture: amd64
Maintainer: Yanzhen Zhu 2208213223@qq.com
Vcs-Git: git@github.com:ZhuYanzhen1/EDA_Challenge.git
Vcs-Browser: https://github.com/ZhuYanzhen1/EDA_Challenge
Installed-Size: 11264
Depends: libgtk-3-dev, libxml2-utils, libgtkmm-3.0-dev, plplot-driver-cairo, libplplot-dev
Description: this is a VCD file signal flipping statistics tool

